@import '../../color.scss';

/*PROJECTS SECTION*/

.projects-section-container{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: auto;
    
}
.projects-section-header {
    width: 100vw;
    height: 10vh;

    display: flex;
    align-items: center;
    text-align: left;
    margin-left: 7vw;   
    margin-top: 10vh; 
}


.projects-section-main{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: auto;
   
}

/* PROJECTS HEADER WORDING*/
.projects-header-wording{
    font-family: $font-family;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 44px;

    color:$heading-text-colors;
}
.projects-header-wording em{
    font-family: $font-family;
    font-style: normal;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 44px;

    color: #ffffff;
}

/*PROJECTS INDIVIDUAL CODE*/

.projects-individual-design{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;   
      
}
.projects-individual-container{
    width: 25vw;
    height: 30vh;
    position: relative;
    margin: 1.5% 2.7%; 

}

.projects-individual-header-body {
    font-weight: 300;
    font-size: 1.3rem; 
    font-family: $font-family;

    padding: 2%;
    border-bottom: 1px solid $heading-text-colors; 
}

.projects-individual-image-div {
    height:100%;
    width: 100%;
    border-radius: 10px;  
}

.projects-individual-image-body {
    height:100%;
    width: 100%;
    object-fit:cover;
    border-radius: 10px;  
    opacity: 1;

   
}
.projects-individual-image-overlay {
    bottom: 0; 
    position: absolute; 
    display: flex;
    justify-content:  space-between;
    align-items: center;
    flex-direction: column;

    background: rgba(0, 0, 0, 0.95); /* Black see-through */
    transition: .5s ease;
    opacity:0;
    color: white;
    
    border-radius: 10px;
    height: 100%;
    width: 100%;
}

.projects-individual-container:hover .projects-individual-image-overlay  {
    opacity: 1;
    display: flex;
    justify-content:  space-between;
    align-items: center;
    flex-direction: column;

    border-radius: 10px;
    height: 100%;
    width: 100%;

}
.projects-individual-summary-div {
    width: 90%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2%;
}
.projects-individual-summary-body {
    font-family: $font-family;
    font-weight: 200;
    font-size: 0.8rem;
    text-align: center;
}

.projects-individual-tech-div {
    width: 80%;
    height: 15%;  

    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #546A93; 
    padding: 5%;


}
.projects-individual-tech-body {
    margin:5%;

    font-family: $font-family;
    font-weight: 200;
    font-size: 0.8rem;
}
.projects-individual-actions-div {
    width: 40%;
    height: 20%;
    padding: 6%;
    gap: 1rem;
    border-top: 1px solid #546A93; 
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.projects-individual-actions-icon {
    transition: ease-out 0.4s;

    &:hover{
        color: $heading-text-colors;
        cursor: pointer;
    }
}

.projects-individual-tech-body-span{
    color: $heading-text-colors;
}

.projects-individual-tech-body-span:last-child {
    display: none;
}





