@import '../../color.scss';

/*PROJECTS SECTION*/

.projects-section-container{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: auto;
    
}
.projects-section-header {
    width: 100vw;
    height: 10vh;

    display: flex;
    align-items: center;
    text-align: left;
    margin-left: 7vw;   
    margin-top: 10vh; 
}


.projects-section-main{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: auto;
   
}

/* PROJECTS HEADER WORDING*/
.projects-header-wording{
    font-family: $font-family;
    font-weight: 400;
    font-size: 30px;
    line-height: 44px;

    color:$heading-text-colors;
}
.projects-header-wording em{
    font-family: $font-family;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 44px;

    color: #ffffff;
}

/*PROJECTS INDIVIDUAL CODE*/

.projects-individual-design{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
    
}
.projects-individual-develop{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}

.projects-individual-container{
    display: flex;
    flex-direction: column;
    width: 25vw;
    height: 30vh;
    position: relative;
   
    margin: 1% 2.7%;
    
    // background:#233455;
    background-image: linear-gradient(to bottom, #172A4E, #344D7D);
    border-radius: 10px;

    font-family: $font-family;
    color: #ffffff;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.projects-individual-header-body {
    font-weight: 300;
    font-size: 1.3rem; 
    padding: 2%;
    border-bottom: 1px solid $heading-text-colors; 
}

.projects-individual-image-body {
    height:100%;
    width: 100%;
    object-fit:cover;
    display: block;
    border-radius: 10px;
   
}
.projects-individual-image-overlay {
    position: absolute; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    justify-content:  space-between;


    border-radius: 10px;
    bottom: 0; 
    background: rgba(0, 0, 0, 0.95); /* Black see-through */
    color: #f1f1f1; 
    height: 100%;
    width: 100%;
    transition: .5s ease;
    opacity:0;
    color: white;
}

.projects-individual-container:hover .projects-individual-image-overlay  {
    opacity: 1;
    display: flex;
    justify-content:  space-between;
    align-items: center;
    flex-direction: column;

    border-radius: 10px;
    height: 100%;
    width: 100%;

}
.projects-individual-summary-div {
    width: 90%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2%;
}
.projects-individual-summary-body {
    font-family: $font-family;
    font-weight: 200;
    font-size: 0.8rem;
}

.projects-individual-tech-div {
    width: 90%;
    height: 10%;  

    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #546A93; 
    padding: 5%;


}
.projects-individual-tech-body {
    margin:5%;

    font-family: $font-family;
    font-weight: 200;
    font-size: 0.8rem;
}
.projects-individual-actions-div {
    width: 40%;
    height: 10%;
    padding: 6%;
    border-top: 1px solid #546A93; 
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    cursor: pointer;

}

.projects-individual-tech-body-span{
    color: $heading-text-colors;
}

.projects-individual-tech-body-span:last-child {
    display: none;
}

.projects-individual-actions-text {
   font-weight: 300; 
   font-size: 0.5rem;
}


