@import '../../color.scss';

/*INTRO SECTION*/

.intro-container{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    padding:0 5%

}

.intro-main-text{
    max-width: 1400px;
}
.intro-main-text-hi{
    font-family: $font-family;
    font-style: normal;
    font-weight: 400;
    font-size: 1.5rem;
    color: $heading-text-colors;

    padding: 0px;
    margin: 0px;
}
.intro-main-text-hi em{
    color:$secondary-font-color;
}
.intro-main-text-name{
    font-family: $font-family;
    font-style: normal;
    font-weight: 600;
    font-size: 5rem;
    color: $the-dot-docoration-color;

    padding: 0px;
    margin: 0px;
}
.intro-main-text-role {
    font-family: $font-family;
    font-style: normal;
    font-weight: 600;
    font-size: 4rem;
    color: $secondary-font-color;

    padding: 0px;
    margin: 0px;
}
.intro-main-text-role em {
    color: $heading-text-colors;
    font-style: normal;
}
.intro-main-text-summary{
    font-family: $font-family;
    font-style: normal;
    font-weight: 400;
    font-size: 1.2rem;
    color: $secondary-font-color;
    width: 60%;
}
.intro-main-text-summary em{
    color: $heading-text-colors;
    font-style: normal;
}


//MEDIA QUERIES

//MOBILE
 @media (max-width: 481px){
    .intro-container{
        height: 100%;
        padding: 0%;
    }
    .intro-main-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
    }
    .intro-main-text-hi {
        margin-top: 20%;
        font-size: 1rem;
    }
    .intro-main-text-hi em{
        font-size: 0.8rem;
    }
    .intro-main-text-name {
        font-size: 3rem;
    }
    .intro-main-text-role {
        font-size: 2rem;
        margin-bottom: 10%;
        padding: 0 3%;
    }
    .intro-main-text-summary {
        font-size: 1rem;
        margin-bottom: 10%;
    }
 }



  //TABLET
@media (max-width: 769px){
    .intro-main-text-hi {
        margin-top: 10%;
        font-size: 1.4rem;
    }
    .intro-main-text-hi em{
        font-size: 1.4rem;
    }
    .intro-main-text-name {
        font-size: 3.5rem;
    }
    .intro-main-text-role {
        font-size: 2.5rem;
        margin-bottom: 5%;
    }
    .intro-main-text-summary {
        font-size: 1.2rem;
        margin-bottom: 5%;
    }
}
