@import '../../color.scss';

.button {
    background-color:$background-color;
    border: 3px;
    border-style: solid;
    border-color: $heading-text-colors;
    border-radius: 5px;
    color: $the-dot-docoration-color;

    font-family: $font-family;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 5%;
    margin-bottom: 5%;
    transition: ease-out 0.4s;

    &:hover {
        background-color: $heading-text-colors; 
    }
}