@import '../../color.scss';

.button {
    background-color:$background-color;
    border: 3px solid $heading-text-colors;
    border-radius: 25px;
    color: $the-dot-docoration-color;

    font-family: $font-family;
    padding: 10px 32px;
    min-width: 60px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 0.75rem;
    margin-top: 5%;
    margin-bottom: 5%;
    transition: ease-out 0.4s;

    &:hover {
        background-color: $heading-text-colors; 
    }
}

@media  (max-width:480px){
 .button{
    padding: 6px 12px;
    font-size: 0.6rem;
    border-radius: 25px;
    border: 2px solid $heading-text-colors
 }
}