@import '../../color.scss';

/*ABOUT SECTION*/

.about-section-container{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100%;
    align-items: center;
    justify-content: flex-start;  
    padding:0 5%;
    margin-top: 5%;
  
    
}
.about-section-centraliser {
    max-width: 1400px;
}
.about-section-header {
    height: 10vh;
    display: flex;
    align-items: center;
    text-align: left;

}
.about-section-main{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: row;
    text-align: center;
}
  
.about-section-left{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    flex-direction: column;
    width: 50%;
    height: 100%;
    }
    

.about-section-right{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;

    width: 50%;
    height: 100%;
    min-width: 400px;

    font-family: $font-family;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    color: $para-color;
}

/* ABOUT HEADER WORDING*/
.about-section-header-wording{
    font-family: $font-family;
    font-style: normal;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 44px;

    color: $heading-text-colors;
}
.about-section-header-wording-line{
    border-top: 1px solid #546A93;
    opacity: 0.3;
    margin-left: 2%;
    width: 80%;

}

.about-section-left{
    font-family: $font-family;
    font-style: normal;
    font-weight: 200;
    font-size: 20px;
    color: $secondary-font-color;
}
.about-section-left em{
    font-family: $font-family;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: $heading-text-colors;    
}

/*ABOUT SECTION P TAGS*/
 .about-section-summary-p {
     margin-bottom: 1.1rem;
     font-size: 0.8rem;
     font-weight: 300;
    color: $para-color;
    }
 .about-section-summary-h4 {
    margin-bottom: 1.1rem;
    font-size: 0.8rem;
    font-weight: 400;
    color: $para-color;
}


 /*ABOUT SECTION PROFILE IMAGE*/

 .about-section-profile-photo{
     width: 60%;
     clip-path: circle();
     margin-bottom: 10%;
 }


//TECHNOLOGIES

.about-section-tech-container{
    display: flex;
    width:100%;
    justify-content: left;
    
}
.about-section-tech-body {
    width: 100%;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    text-align: left;
}
.about-section-tech-list {
    margin: 0%;
    text-align: left;
    font-size: 0.7rem;
}
.about-section-tech-arrow-list-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}



//MEDIA QUERIES

//TABLET

@media (max-width: 769px){
    .about-section-header-wording {
        font-size: 1.2rem;
    }
    .about-section-main {
        flex-direction: column;
        align-items: center;
      }
    .about-section-right {
          width:90%;        
    }
    .about-section-left {
        width:90%;  
        text-align:justify;      
  }
}

//PHONE 

 @media (max-width: 481px){
    .about-section-container{
        padding:0%;
        margin-top: 0%;
    }
    .about-section-header{
        justify-content: center;
        margin-top: 10%;
        flex-direction: column;
    }
    .about-section-main{
        justify-content: center;
        align-items: center;
        padding: 4%;
    }
    .about-section-right {
        min-width: 350px;
        padding-top: 4%;    
    }
    .about-section-header-wording {
        font-size: 1rem;
    }
    .about-section-header-wording-line{
        margin-left: 0;
    }
 }


