@import '../../color.scss';

/*ABOUT SECTION*/

.about-section-container{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100%;
    align-items: center;
    justify-content: flex-start;  
    // margin:0 5%;
  
    
}
.about-section-centraliser {
    max-width: 1400px;
}
.about-section-header {
    height: 10vh;
    display: flex;
    align-items: center;
    text-align: left;

}
.about-section-main{
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    flex-direction: row;
    text-align: center;
}
@media screen and (max-width: 800px) {
    .about-section-main {
      flex-direction: column-reverse;
    }
  }
  
.about-section-left{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    flex-direction: column;
  
   

    width: 50%;
    height: 100%;
    }
    @media screen and (max-width: 800px) {
        .about-section-left {
          text-align:justify;
          width:80%;
            
          }
        }

.about-section-right{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    width: 50%;
    height: 100%;
    min-height: 400px;
    min-width: 400px;
}
@media screen and (max-width: 800px) {
    .about-section-right {
      width:80%;
        
      }
    }
/* ABOUT HEADER WORDING*/
.about-section-header-wording{
    font-family: $font-family;
    font-style: normal;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 44px;

    color: $heading-text-colors;
}
.about-section-header-wording em{
    font-family: $font-family;
    font-style: normal;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 44px;

    color: $the-dot-docoration-color;
}
.about-section-left{
    font-family: $font-family;
    font-style: normal;
    font-weight: 200;
    font-size: 20px;
    color: $secondary-font-color;

}
.about-section-left em{
    font-family: $font-family;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: $heading-text-colors;    
}

/*ABOUT SECTION P TAGS*/
 .about-section-summary-p {
     margin-bottom: 1.1rem;
     font-size: 0.9rem;
 }

 /*ABOUT SECTION PROFILE IMAGE*/

 .about-section-profile-photo{
     width: 80%;
 }

 @media (max-width: 481px){
    .about-section-header{
        justify-content: center;
        margin-top: 10%;
    }
    .about-section-header-wording {
        font-size: 1rem;
    }
    .about-section-header-wording em {
        font-size: 1rem;
    }
 }