@import '../../color.scss';

/*CONTACT SECTION*/

.contact-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: auto;
    padding:0 5%;
}

.contact-header {
    width: 100%;
    height: 10vh;
    max-width: 1400px;

    display: flex;
    align-items: center;
    text-align: left;
    margin-top: 15vh; 
    margin-bottom: 5%;
}

.contact-main{
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    max-width: 1400px;

    flex-direction: column;
    text-align: center;
    justify-content: center;
}

/* CONTACT HEADER WORDING*/
.contact-header-wording{
    font-family: $font-family;
    font-style: normal;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 44px;

    color: $heading-text-colors;
}
.contact-header-wording em{
    font-family: $font-family;
    font-style: normal;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 44px;

    color: $the-dot-docoration-color;
}

/*CONTACT MAIN WORDING*/

.contact-main-get-in-touch {
    font-family: $font-family;
    font-style: normal;
    font-weight: 600;
    font-size: 5rem;
    color: $the-dot-docoration-color;
}

.contact-main-get-in-touch em{
    font-family: $font-family;
    font-style: normal;
    font-weight: 600;
    font-size: 5rem;
    color: $heading-text-colors;
}

.contact-main-summary{
    font-family: $font-family;
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    color: $secondary-font-color;
    margin-left: 15%;
    margin-right: 15%;
}

.contact-main-summary em{
    font-family: $font-family;
    font-style: normal;
    font-weight: 600;
    font-size: 1rem;
    color: $heading-text-colors;
}

.contact-footer {
    width: 90vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: aliceblue;
    border-top: 1px solid #546A93;
    padding: 3%;
    margin-top: 5%;
}

.contact-footer-made-by {
    font-family: $font-family;
    font-weight: 200;
    font-size: 0.7rem;
    font-style: italic;
    margin-bottom: 1%;
}

.contact-footer-icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.6rem;
    cursor: pointer;
}

.contact-footer-icon-individual {
    text-decoration: none;
     color: inherit;
}

.contact-footer-resume-icon {
    width: 1.2rem;
    filter: brightness(0) invert(1);
}


//MEDIA QUERIES

//MOBILE

@media (max-width: 481px){
    .contact-container{
        padding:0%;
    }
    .contact-header {
        justify-content: center;
        margin-bottom: 0px;
        margin-top: 10vh; 
    }
    .contact-header-wording {
        font-size: 1rem;
    }
    .contact-header-wording em {
        font-size: 1rem;
    }
    .contact-main-get-in-touch {
        font-size: 2.5rem;
        margin-bottom: 10%;
    }
    .contact-main-get-in-touch em {
        font-size: 2.5rem;
    }
    .contact-main-summary {
        font-size:0.8rem;
        margin-bottom: 5%;
    }
    .contact-main-summary em {
        font-size:0.8rem;
    }
    .contact-footer {
        margin-top: 10vh;
    }
}

 //TABLET
 
 @media (max-width: 769px){
    .contact-container {
        justify-content: space-evenly;

    }
    .contact-header-wording {
        font-size: 1.2rem;
    }
    .contact-header-wording em {
        font-size: 1.2rem;
    }
    .contact-main-get-in-touch {
        font-size: 3rem;
        margin-bottom: 5%;
    }
    .contact-main-get-in-touch em {
        font-size: 3rem;
    }
    .contact-main-summary {
        font-size:0.9rem;
        margin-bottom: 5%;
    }
    .contact-main-summary em {
        font-size:0.9rem;
    }
}