@import '../../color.scss';
@import url('https://fonts.googleapis.com/css2?family=Schoolbell&display=swap');

.header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;

    background: $background-color;

    width: 100%;
    display: flex;
    align-items: center;
    z-index: 1;
    justify-content: space-between;
    padding: 0 1%;
}
.navlogo{
    width: 7%;
    text-align: center;
    display: flex;
    justify-content: center;
    font-size: 1.4rem ;
    
    color: $heading-text-colors;
    font-family: 'schoolbell';   
    cursor: pointer;
    transition: ease-out 0.4s;


    &:hover {
        color:white;
        font-size: 1.6rem;
    }
}

.navbar {
    margin: 0 auto;
    position: right;
}
.nav-list-container{
    display: flex;
    align-items:center;

}

    .nav-list-item {
        list-style: none;
        margin: 1rem;
        font-family: $font-family;
        padding: 0%;

        .nav-link {
            font-size: 0.75rem;
            text-decoration: none;
            text-transform: uppercase;
            color: $the-dot-docoration-color;
            min-width: 130px;
            padding: 10px 0;
            cursor: pointer;
            transition: ease-out 0.1s;
            border-bottom: 3px solid none;

            &:hover {
                border-bottom: 3px solid $heading-text-colors;
            }
        } 
    }
    .resume-button {
        list-style: none;
    }


//PHONE


//DESKTOP
@media  (max-width: 1024px) {
    .navlogo{
        margin-left: 5%;
        &:hover {
            font-size: 1.4rem ;
            color: $heading-text-colors;
        }
    }
}

@media  (max-width:480px){
    .navlogo {
        font-size: 1.1rem;
        
    }
   .nav-list-item {
    margin: 0.5rem;
   }
   .nav-link{
    font-size: 0.5rem;
   }
   .header {
    justify-content: space-around;
   }
}    
//TABLET

// @media screen and (max-width: 769px) and (min-width: 482px) {
//     .resume-button {
//       display: none;
//     }
// }
  


