@import '../../color.scss';
@import url('https://fonts.googleapis.com/css2?family=Schoolbell&display=swap');
*::before,
*::after {
    box-sizing: border-box;

}

.header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;

    background: $background-color;

    width: 100%;
    display: flex;
    align-items: center;
    z-index: 1;
    justify-content: space-between;
}
.navlogo{
    width: 7%;
    text-align: center;
    position: sticky;
    display: flex;
    justify-content: center;
    position:sticky;
    
    color: $heading-text-colors;
    font-family: 'schoolbell';       
}

.header {
    .resumeLink {
        // color: black;
        margin-left: 15px;
        font-size: var(--fz-xs);
    }
}

.navbar {
    margin: 0 auto;
    position: right;
}

ul {
    display: flex;
    align-items: center;
    li {
        list-style: none;
        margin: 1rem;
        font-family: 'inter';
        padding: 0%;



//
        a {
            text-decoration: none;
            text-transform: uppercase;
            // color: orangered;
            color: $the-dot-docoration-color;
            min-width: 130px;
            padding: 10px 0;

            &:hover {
                border-bottom: 3px solid $heading-text-colors;

            }

        }

    }

    #resumeLink {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;

        a {

            min-width: 130px;
            padding: 10px 0;
            border: 3px solid $heading-text-colors;
            border-radius: 5px;
            background-color: transparent;
            display:block;
            text-align: center;
            
            
            
            
          
             
            color:$the-dot-docoration-color;
        }
        &:hover {
                border-bottom: 0px  $heading-text-colors;
                background-color: $heading-text-colors; 
                transition-duration: 0.4s;


            }
        

    }


}

.menubar {
    display: none;
    // margin-right: 1.555rem;
    // z-index: 0;

}

.closed .closed {
    display: none;

}



//styling for mobile devices
@media (max-width:850px) {
    .header {
        justify-content: space-between;
    }

    .navbar {
        display: none;
        transition: 1s ease;
    }

    .navbar {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: fixed;
        inset: 0;
        background: $mobile-navbar-background;
        transition: 14ms ease;
    }


    ul {
        margin: 0 auto;
        align-items: center;
        flex-direction: column;
        margin-top: 1rem;

        li {
            margin-block: 2rem;

            a {
                font-size: 20px;
                color:$mobile-navbar-background;
                font-weight: bolder;
            }
        }
    }

    .navbar {
        .menu {
            display: block;
        }
    }

    .closed .closed {
        display: block;
    }

    // .navbar {
    //     margin-left: .445rem;
    // }

    .menubar {
    display: flex;
    margin-right: 1.555rem;
    z-index: 0;

}
}