@import '../../color.scss';
@import url('https://fonts.googleapis.com/css2?family=Schoolbell&display=swap');

.header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
    background: $background-color;

    width: 100%;
    display: flex;
    align-items: center;
    z-index: 1;
    justify-content: space-between;
    padding: 0 5%;
}
.navlogo{
    text-align: center;
    display: flex;
    justify-content: center;
    padding: 5px 0;
    
    cursor: pointer;


    &:hover {
        color:white;
        // font-size: 1.3rem;
    }
}

.navbar {
    margin: 0 auto;
    position: right;
}
.nav-list-container{
    display: flex;
    align-items: center;

}

    .nav-list-item {
        display: flex;


        list-style: none;
        margin-left: 1.5rem;
        font-family: $font-family;
        padding: 0%;

        .nav-link {
            font-size: 0.75rem;
            text-decoration: none;
            text-transform: uppercase;
            color: $the-dot-docoration-color;
            
            cursor: pointer;
            transition: ease-out 0.2s;
            border-bottom: 3px solid none;
           

            &:hover {
                color: $heading-text-colors;
            }
        } 
    }
    


//PHONE


//DESKTOP

@media  (max-width:480px){
    .logo-image{
        width: 50px;
    }
   .nav-list-item {
    margin: 0.7rem;


        .nav-link{
        font-size: 0.6rem;
        
        }
   }
  
}    
@media  (min-width:481px){
    .logo-image{
        width: 60px;
    }
}
//TABLET

// @media screen and (max-width: 769px) and (min-width: 482px) {
//     .resume-button {
//       display: none;
//     }
// }
  


