@import '../../color.scss';
@import url('https://fonts.googleapis.com/css2?family=Schoolbell&display=swap');

.header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;

    background: $background-color;

    width: 100%;
    display: flex;
    align-items: center;
    z-index: 1;
    justify-content: space-between;
}
.navlogo{
    width: 7%;
    text-align: center;
    position: sticky;
    display: flex;
    justify-content: center;
    position:sticky;
    font-size: 1.5rem ;
    
    color: $heading-text-colors;
    font-family: 'schoolbell';   
    cursor: pointer;
    
    &:hover {
        color:white;
        font-size: 1.7rem;
        transition-duration: 0.25s;
        transition-timing-function: ease-out;

    }
}

.navbar {
    margin: 0 auto;
    position: right;
}

ul {
    display: flex;
    align-items: center;
    li {
        list-style: none;
        margin: 1rem;
        font-family: $font-family;
        padding: 0%;

        a {
            text-decoration: none;
            text-transform: uppercase;
            color: $the-dot-docoration-color;
            min-width: 130px;
            padding: 10px 0;
            cursor: pointer;


            &:hover {
                border-bottom: 3px solid $heading-text-colors;
                transition-duration: 0.25s;
                transition-timing-function: ease-out;
            }
        }
    }

    .resumeLink {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;

        a {
            min-width: 130px;
            padding: 10px 0;
            border: 3px solid $heading-text-colors;
            border-radius: 5px;
            background-color: transparent;
            display:block;
            text-align: center;
            color:$the-dot-docoration-color;
        }
        &:hover {
                border-bottom: 0px  $heading-text-colors;
                background-color: $heading-text-colors; 
                transition-duration: 0.4s;
                border-radius: 5px;
            }
    }
}

