@import '../../color.scss';

.sidebar-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    text-align: center;
    align-items: flex-start;
    margin-left: 2.5vw;

    position: -webkit-sticky;
    position: sticky;
    top: 50%;

        .icon-link{
            cursor: pointer;
        }

        .icon{
            color: $the-dot-docoration-color;
            margin-bottom: 1rem;
            align-items: left;
            transition: ease-out 0.4s;

            &:hover{
                color: $heading-text-colors;
                cursor: pointer;
            }

        }
    }