@import '../src/color.scss';

.App {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: $background-color;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
 }

