@import '../src/color.scss';

body {
  background: $background-color;
}

.App {
  width: 100%;
  display: inline-block;
}

* {
  box-sizing: border-box;
  margin: 0;
 }
 body {
  overflow-x: hidden;
}
html {
  font-size: calc(16px + 0.390625vw);
}


